<!DOCTYPE hibernate-configuration PUBLIC "-//Hibernate/Hibernate Configuration DTD 3.0//EN" "http://www.hibernate.org/dtd/hibernate-configuration-3.0.dtd">
<hibernate-configuration>
    <session-factory>
<!-- JDBC Database connection settings -->
        <property name="connection.driver_class">org.postgresql.Driver</property>
        <property name="connection.url">jdbc:postgresql://c-tukanobd.hytsgjkdobmcxv.postgres.cosmos.azure.com:5432/tukano</property>
        <property name="hibernate.connection.username">citus</property>
        <property name="hibernate.connection.password">'qW2sD-=w%]bwnf</property>
        <property name="hibernate.default_schema">public</property>

        <property name="hibernate.cache.use_second_level_cache">true</property>
        <property name="hibernate.cache.region.factory_class">org.hibernate.cache.internal.NoCachingRegionFactory</property>
        <property name="hibernate.cache.redisson.config">redisson-config.yaml</property>



        <!-- JDBC connection pool settings ... using built-in test pool -->
        <property name="connection.pool_size">64</property>
        <!-- Echo the SQL to stdout -->
        <property name="show_sql">true</property>
        <!-- Set the current session context -->
        <property name="current_session_context_class">thread</property>
        <!-- Drop and re-create the database schema on startup -->
        <property name="hbm2ddl.auto">create-drop</property>
        <!-- dbcp connection pool configuration -->
        <property name="hibernate.dbcp.initialSize">5</property>
        <property name="hibernate.dbcp.maxTotal">20</property>
        <property name="hibernate.dbcp.maxIdle">10</property>
        <property name="hibernate.dbcp.minIdle">5</property>
        <property name="hibernate.dbcp.maxWaitMillis">-1</property>
        <mapping class="tukano.api.User" />
        <mapping class="tukano.api.Short" />
        <mapping class="tukano.impl.data.Following" />
        <mapping class="tukano.impl.data.Likes" />
    </session-factory>
</hibernate-configuration>